<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Welcome</a></li>
        <li><a [routerLink]="'giphy-search'">Giphy Search</a></li>
        <li><a [routerLink]="'validation-contact'">Contacts</a></li>
        <li><a [routerLink]="'pipes'">Pipes</a></li>
        <li><a [routerLink]="'change-detection'">Change Detection</a></li>
        <li><a [routerLink]="['routeroutlet', {outlets: {mestre: ['pessoa'], detalhe: ['endereco'] }} ]"> Router Outlet</a></li>
        <li><a [routerLink]="'routes-children'">Children routes</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- <a [routerLink]="[{ outlets: { negrito: ['routeroutlet']}}]">Outlet click gere</a>
<b>
  <router-outlet name="negrito"></router-outlet>
</b>
-->


<router-outlet></router-outlet>
